* {
    margin: 0;
    font-family: "Rouge Script", serif;
}

#head {
    height: 30vh;
}

:root {
    --colors-pink: #ff03c0;
    --colors-violet: #f9dcfd;
    --colors-yellow: #fff4b4;
    --colors-purple: #421258;
    --colors-black: #000000;
    --colors-white: #ffffff;
    --colors-lightPink: #ff72d5;
    --colors-blackPink:#7c1d60; 
    --colors-primary: var(--colors-violet);
    --colors-secondary: var(--colors-pink);
    --colors-third: var(--colors-white);
    --colors-fourth: var(--colors-black);
    --colors-fifth: var(--colors-lightPink);
    --border-radius-full: 3vh;
}

[data-theme-preference="dark"] {
    --colors-primary: var(--colors-purple);
    --colors-secondary: var(--colors-yellow);
    --colors-third: var(--colors-black);
    --colors-fourth: var(--colors-white);
    --colors-fifth: var(--colors-blackPink);
}

@media (prefers-reduced-motion: reduce) {
    * {
        transition: none !important;
    }
}

.theme-switcher {
    --theme-switcher-radius: 4vh;
    --theme-switcher-border: var(--colors-violet);
    --theme-switcher-border-size: 3px;
    --theme-switcher-background: ##fca8ea;
    --theme-switcher-icon-size: 3vh;
    --theme-switcher-icon-color: var(--colors-pink);
    --theme-switcher-icon-background: #faeda4;

    display: inline-grid;
    justify-content: start;
    width: calc(var(--theme-switcher-icon-size) * 2 + var(--theme-switcher-border-size) * 2);
    padding: var(--theme-switcher-border-size);
    border: 0;
    border-radius: var(--theme-switcher-radius);
    background-color: var(--theme-switcher-background);
    line-height: 0;
    cursor: pointer;
    outline-offset: 0.5em;
    outline-color: currentColor;

    & * {
        pointer-events: none;
    }

    &>.theme-icon {
        padding: var(--theme-switcher-border-size);
        border-radius: var(--border-radius-full);
        transition: 0.3s translate;
        color: var(--theme-switcher-icon-color);
        background-color: var(--theme-switcher-icon-background);
    }

    & [class^="theme-icon-"] {
        width: var(--theme-switcher-icon-size);
        height: var(--theme-switcher-icon-size);
    }

    &[aria-pressed="true"] {
        --theme-switcher-border: #fca8ea;
        --theme-switcher-background: #fca8ea;
        --theme-switcher-icon-background: var(--colors-violet);

        & .theme-icon-light {
            display: none;
        }

        &>.theme-icon {
            translate: calc(var(--theme-switcher-icon-size) - (var(--theme-switcher-border-size) * 2));
        }
    }

    &[aria-pressed="false"] {
        & .theme-icon-dark {
            display: none;
        }
    }
}

html {
    color: var(--colors-secondary);
    background-color: var(--colors-primary);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
}

#header {
    height: 15vh;
    align-content: center;
    text-align: center;
}

.top.responsive {
    display: block;
    height: 28vh;
    width: 100%;
    background-color: #fca8ea;
}

.top {
    display: flex;
    justify-content: space-evenly;
    height: 5vh;
    width: 100%;
    background-color: #fca8ea;
}

.link {
    color: rgb(188, 79, 252);
    font-size: 4vh;
    text-decoration: none;
}

.link:hover {
    color: rgb(248, 255, 43);
    text-decoration: underline;
}

#imgHeader {
    height: 25vh;
}

#logoHeader {
    height: 25vh;
    width: 100%;
    background-color: #F29F99;
}

.footer {
    background-color: #F29F99;
    height: 15vh;
    font-size: 5vh;
    display: flex;
}
#toe {
    position: relative;
    top: 10vh;

}
#logoFooter {
    height: 15vh;
    filter: opacity(50%);
}
#karadoc {
    align-content: center;
}

.top{
    background-color: hotpink;
    overflow: hidden;
}

.top a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
}

.top .mB {
    display: none;
}

@media screen and (max-width: 767px) {
    .top a:not(:first-child) {display: none;}
    .top a.mB {
        float: right;
        display: block;
    }
}
 @media screen and (max-width: 767px) {
    .top.responsive {position: relative;}
    .top.responsive a.mB {
        position: absolute;
        right: 0;
        top: 0;
    }
 }
 .top.responsive a {
    float: none;
    display: block;
    text-align: left;
 }
 
 #burger {
    height: 35px;
 }
 #close {
    height: 35px;
    display: none;
 }