#accueil {
    width:  50vw;
    display: flex;
    flex-wrap: wrap;
    gap: 3vh;
    position: relative;
    top: 10vh;
    left: 50vh;
}
#homeTitle {
    font-size: 8vh;
    height: 6vh;
    width: 40vw;
    position: relative;
    left: 35%;
    top: 2vh;
}
.card {
    height: 37vh;
    width: 30vh;
    background-color: #FCA8EA;
    position: relative;
    border: solid black 5px;
    border-radius: 15%;
}
#curry {
}
#gyoza {
}
#chocolatAtartiner {
}
#brioche {
}
#layerCake {
}
#tarteCitron {
}
#finger {
    display: flex;
}
#minuteur {
    text-align: center;
    position: relative;
    top: 5vh;
    left: 25vh;
    width: 50vh;
}
#waiting {
    font-size: 6vh;
}
#haveAbreak {
    font-size: 4vh;
}
#start_timer {
    height: 5vh;
    width: 10vh;
    font-size: 4vh;
    border-radius: 15%;
    background-color: rgb(253, 195, 253);
    font-weight: bold;
}
#snake {
    position: relative;
    top: 1vh;
    left: 50vh;
}
#pForm {
    font-size: 5vh;
    position: relative;
    top: 3vh;
    margin-left: 5vh;
}
#formulaire {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5vh;
    margin-left:10vh ;
    gap: 1vh;
}
.input {
    height: 5vh;
    font-size: x-large;
    width: 50vh;
    background-color: rgb(253, 195, 253);
}
#message {
    height: 10vh;
}
